*.zip

RITAL/TAL/data/
RITAL/RI/TME2/index_3docs
RITAL/RI/TME2/terrier_cord19

IAMSI/tme07/out

.obsidian

### Python ###
__pycache__/

# JupyterNotebooks
.ipynb_checkpoints  
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/